div.main {
  padding: 30px;
}

div.page {
  position: relative;
}

div.page img {
  position: absolute;
  top: 0; left: 0;
  opacity: 0.6;
}

div.table-region {
  position: absolute;
  top: 0; left: 0;
  z-index: 21;
  background-color: rgba(100,100,100,0.2);
}


div.table-region .resize-handle {
  position: absolute;
}

div.table-region .n-border {
  width: 100%;
  top: 0; left: 0;
  height: 5px;
}

div.table-region .n-border:hover {
  cursor: n-resize;
}

div.table-region .nw-border {
  width: 5px; height: 5px;
  top: 0; left: 0;
}

div.table-region .nw-border:hover {
  cursor: nw-resize;
}

div.table-region .ne-border {
  width: 5px; height: 5px;
  top: 0; right: 0;
}

div.table-region .ne-border:hover {
  cursor: ne-resize;
}


div.table-region .s-border {
  width: 100%;
  bottom: 0px;
  height: 5px;
}

div.table-region .s-border:hover {
  cursor: s-resize;
}

div.table-region .sw-border {
  width: 5px; height: 5px;
  bottom: 0; left: 0;
}

div.table-region .sw-border:hover {
  cursor: sw-resize;
}

div.table-region .se-border {
  width: 5px; height: 5px;
  bottom: 0; right: 0;
}

div.table-region .se-border:hover {
  cursor: se-resize;
}


div.table-region .w-border {
  height: 100%;
  left: 0;
  width: 5px;
}

div.table-region .w-border:hover {
  cursor: w-resize;
}

div.table-region .e-border {
  height: 100%;
  right: 0px;
  width: 5px;
}


div.table-region .e-border:hover {
  cursor: e-resize;
}


div.table-region ul.toolbar {
  position: absolute;
  top: -20px;
  right: 0px;
  margin: 0; padding: 0;
  z-index: 42;
  background-color: white;
}

div.table-region ul.toolbar li {
  display: inline;
}

div.table-region ul.toolbar :disabled {
  opacity: 0.5;
}

div.table-region.verticalMove {
  cursor: ew-resize;
}

div.table-region.horizontalMove {
  cursor: ns-resize;
}

div.table-region.cellSelect {
  cursor: cell;
}

div.table-region canvas {
  width: 100%;
  height: 100%;
}

.page-container {
  margin: 10px auto;
}

.page-view canvas {
  box-shadow: black 0px 0px 10px;
}

.selection-box {
  border: 1px dotted black;
  z-index: 42;
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}